<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="latin-1">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Obtenez votre horoscope!</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <!-- Bootstrap core CSS -->
  <link href="./static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="./static/css/business-frontpage.css" rel="stylesheet">

  <!-- JQuery styles -->
  <link href="./static/jqueryui/jquery-ui.css" rel="stylesheet">

</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Hysteric Witches Inc.</a>
    </div>
  </nav>

  <header class="bg-primary py-5 mb-5">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-lg-12">
          <h1 class="display-4 text-white mt-5 mb-2">{{titre}}</h1>
          <p class="lead mb-5 text-white-50">Ressentez vibrer les pulsations de l'univers au plus profond de votre être!</p>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    
      <div id="response" style="display:none" class="row">
        <div class="col-md-8 mb-5">
          <h2>Vos résultats</h2>
          <hr>
          <h3>Signe:</h3>
          <p id="theSign"></p>
          <h3>Nom:</h3>
          <p id="theName"></p>
          <h3>Prénom:</h3>
          <p id="theFirstName"></p>
          <h3>Date de naissance:</h3>
          <p id="theDOB"></p>
          <h3>Prédiction:</h3>
          <p id="thePred"></p>
          <a id="goBack" href="/"> Retour à l'accueil</a>
        </div>
      </div>
    
    <div id="myform" class="row">
      <div class="col-md-8 mb-5">
        <h2>Votre horoscope en un clic!</h2>
        <hr>
        <p>Pour obtenir votre horoscope personnalisé, téléchargé directement des astres grâce à notre connexion cosmique unique au monde, remplissez simplement les champs demandés.</p>

        <form id="bullshitRequestForm">
          <div class="form-group">
            <label for="name">Nom</label>
            <input type="text" class="form-control" id="inputName" name="inputName" placeholder="Nom" pattern = "^[a-zA-Z- ]+$" title="Les accents ne sont pas tolérés">
          </div>
          <div class="form-group">
            <label for="inputFstName">Prénom</label>
            <input type="text" class="form-control" id="inputFstName" name="inputFstName" placeholder="Prénom" pattern = "^[a-zA-Z0-9- ]+$" title="Les accents ne sont pas tolérés">
          </div>
          <div class="form-group">
            <label for="inputDOB">Date de naissance</label>
            <input type="text" class="form-control" id="inputDOB" name="inputDOB" placeholder="Date de naissance" pattern="^((0|1)\d{1})/((0|1|2|3)\d{1})/((19|20)\d{2})" title="Date invalide!">
          </div>
          <button class="btn btn-primary" type="button" id="getHoroscope">Obtenir mon horoscope!</button>
        </form>

      </div>

      <div class="col-md-4 mb-5">
        <h2>Contactez-nous!</h2>
        <hr>
        <address>
          <strong>Hysteric Witches Inc.</strong>
          <br>555, Boulevard de l'Université
          <br>Bureau P4-3270
          <br>Chicoutimi, QC.
          <br>G7H 2B1
          <br>
        </address>

        <address>
          <abbr title="Téléphone:">T:</abbr>
          (418) 545-5011 poste 2225
          <br>
          <abbr title="Courriel">M:</abbr>
          <a href="mailto:#">info@hystericwitches.com</a>
        </address>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="./static/images/fortuneTeller.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">Le saviez-vous?</h4>
            <p class="card-text">Vous êtes une énergie si pure que les astres vous contemplent d'un regard jaloux.  La science a prouvé que votre dimension quantique...</p>
            <a id="fuke"> Read more --></a>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="./static/images/crystalBall.jpg" alt="v">
          <div class="card-body">
            <h4 class="card-title">La boule de crystal</h4>
            <p class="card-text">On me demande souvent comment je peux passer ma vie à fixer mes boules.  Alors que j'avais à peine 18 ans, j'ai commencé à entendre des voix, qui me disaient...</p>
            <a id="faki"> Read more -->></a>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="./static/images/jojo.jpg" alt="q">
          <div class="card-body">
            <h4 class="card-title">Je sais déjà tout de vous!</h4>
            <p class="card-text">Vous est-il déjà arrivé de vous souvenir de quelque chose qui n'était jamais arrivé?  C'est ce qui se produit lorsque le cosmos veut vous...</p>
            <a id="fake"> Read more -->></a>
          </div>
        </div>
      </div>
    </div>

  </div>
  
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Hysteric Witches Inc. 2019</p>
    </div>
  </footer>

  <script src="./static/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="./static/jqueryui/jquery-ui.js"></script>
  <script src="./static/javascript/index.js"></script>

</body>

</html>
